# coffeelint: disable=max_line_length
# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Diary'
      'submenu': [
        {
          'label': 'Add an entry'
          'command': 'atom-diary:addEntry'
        },
        {
          'label': 'Show calendar'
          'command': 'atom-diary:toggleCalendar'
        },
        {type: 'separator'},
        {
          'label': 'Create printable diary'
          'command': 'atom-diary:createPrintableDiary'
        },
        {
          'label': 'Diary as project'
          'command': 'atom-diary:showProject'
        },
      ]
    ]
  }
]
