@white: #ffffff;

.calendar-titlebar {
  padding: 5px;
  vertical-align: middle;
}

.calendar-content {
  padding: 5px
}

.calendar-separator {
  margin-left: 10px;
  margin-right: 10px;
}

.calendar-close {
  float: right;
}

.calendar-navigation {
  .cal-has-entry;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
}

.cal-weekend {
  color: @text-color-subtle;
}

.cal-monthtable {
  margin: 10px;
}

.cal-header {
  text-align: center;
  padding: 5px;
  cursor: default;
}

.cal-cell {
  padding: 5px;
  cursor: default;
}

.cal-hidden {
  .cal-cell;
  visibility: hidden;
}

.cal-today {
  border: 2px solid @ui-site-color-2;
}

.cal-has-entry {
  color: @text-color-info;
  font-weight: bold;
  &:hover {
    // color: @white;
    background-color: @button-background-color;
  }
}
